body {
    margin: 0 auto;
    width: 80%;
    background-color: #e5e5e5;
}


.top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    
    
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

/* Kan inte göra bilden .family responsiv :/ */
.art1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1 ;
    grid-row-end: 7;
    position: relative;
    background: #C7DDEA;
    
  
}

.art2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    background: #F17949;

}

.art3 {
    grid-column-start:4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    background: #FAB131;
}

h1 {
    font-family: "Frank Ruhl Libre", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000; 
}

.boris, .white {
    margin-left: 105px;
    margin-top: 69px;
    margin-bottom: 0px;
    width: 314px;
    height: 101px;
    left: 324px;
    top: 71px;
}


.a-art2 {
    
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 44px;
    margin-top: 10px;
    

    text-decoration: none;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #FFFFFF; 
}


p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px; 
    color: rgba(0, 0, 0, 0.6); 
    padding: 1rem;
}

.p1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-left: 105px;
    margin-top: 0px;
    width: 268px;
    height: 103px;
    left: 324px;
    top: 172px;
    padding: 0;
}

.p-art2, .p-art3 {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 105px;
}


.p1 em {
    color: white;
    font-style: normal;
}

.family-img {
   height: 50%;
   position: absolute;
   margin-left: 40%;
   z-index: 1;
   bottom: -20px;


}


.art1-button {
    
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    text-decoration: none;
    padding: 20px;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 8px;
    display: flex;
    color: black;
    margin-top: 20px;
    justify-content: center;
    width: 131px;
    margin-left: 105px;
    z-index: 0;
}



.nav {
    background-color: #EBEBEB;
    height: 57px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav li a {
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    color: #A9A19E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 57px;
}

#home {
    color: #000000;
}

.nav li a:hover {
    background-color: #afafaf;
    color: #000000;
}

.flex-container-gray {
    display: flex;
    flex-direction: column;
    height: 612px;
    background-color: #A9A19E;
    position:relative;
    z-index: 1;
}

.white {
    color: #FFFFFF;
    position: absolute;
    margin: 0;
    top: 103px;
    left: 107px;
    height: auto;
}

.lorem-ipsum1 {
    height: 237px;
    width: 280px;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    align-self: flex-end;
    margin: 0;
    position:absolute;
    bottom: 272px;
    right: 129px;
}

#join-now {
    text-align: center;
    align-items: center;
    margin: 0;
    font-size: 10px;
    position: absolute;
    bottom: 272px;
    left: 107px;
    width: 100px;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    height: 50px;
    width: 70%;
    left: 15%;
}

.flex-container2 figure {
    width: 25%;
    height: 800%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.flex-container2 figure img {
    width: 100%;
    height: 45%;
    object-fit: contain;
    object-position: top;
    background-color: #FAB131;
    left: 0;
    top: 0;
    margin: 0;
    margin-top: -45px;
    border-radius: 5px;
}

.flex-container2 figure .child-img {
    background-color:#C7DDEA;
}

.flex-container2 figure .adult-img {
    background-color: #FAB131;
}

.flex-container2 figure .old-img {
    background-color: #F17949;
    
}

h3 {
    margin-top: 40px;
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.9);
}

.flex-container2 figure p {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 164%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);

}


.about-us {
    display: grid;
    grid-auto-rows: 200px;
    width: 100%;
    height: 700px;
    background-color: #FAB131;
    position: relative;
    z-index: 0;
    
}

h4 {
    grid-row: 2;
    grid-column: 1;
    bottom: 250px;
    text-align: center;
    color:white;
    font-size: 35px;
    height: 25px;
    margin-top: auto;
   
}

#we-are {
    grid-row: 3;
    align-items: center;
    width: 33%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.grid-container3 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:0;
    padding:0;
    text-align: center;
    background-color: #FFFFFF;
}

.grid-container3 li {
    list-style: none;
    position: relative;
    width:100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grid-item-how h1 {
    color: rgba(0, 0, 0, 0.8);
    margin:0;
    align-self: center;
    max-width: 280px;
    padding: 0 1rem;
}

.h1-container {
    align-self: center;
}

h2 {
    font-family: "Frank Ruhl Libre", serif;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
    font-size: 35px;
    align-self: flex-start;
    position: absolute;
    top: 0;
    padding: 2rem;
}

.grid-item-how {
    background-color: #C7DDEA;
}

.grid-item-02 {
    background-color: #e5e5e5;
}

.grid-item-04 {
    background-color: #F17949;
}

.take-me-up {
    width: 100%;
    background-color: #A9A19E;
    position: sticky;
    bottom: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}


.take-me-up a p {
    padding: 0;
    margin-bottom: 1rem;  
}

a {
    text-decoration: none;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #777574;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer p {
    color: #FFFFFF;
}
